
/* fix for multiple drag handles in node edit form */
.js .node-form .tabledrag-cell-content__item {
  display: none;
}

@media screen and (min-width: 85em) {

  /* fix to allow chosen dropdowns to appear beyond the boundaries of vertical tabs */
  .js .vertical-tabs__item.claro-details--vertical-tabs-item,
  .js .block-claro-content .vertical-tabs__item {
    overflow: visible;
  }

  /* fix to correct hidden vertical tabs in node edit form */
  .js .node-form .vertical-tabs__item > summary {
    display: block !important;
  }

}

/* fix for image crop region not stretching full-width */
.form-managed-file.no-upload {
  width: 100%;
}

/* Fix for links in formtips */
.formtips-show a {
  color: #91adc2;
}

.formtips-show a:hover {
  color: #70a6c9;
}

/* Add styles for Maxlength module */
.counter {
  font-size: 80%;
}

.counter.warning {
  color: darkred;
}

/* Hide Maxlength counters if they don't have an attached field (e.g. summary/body) */
#undefined-counter {
  display: none;
}

/* adjust forcal point module styles */
.focal-point-preview-link {
  padding: 1rem;
  text-decoration: none;
}
