
/* fix for multiple drag handles in node edit form */
.js .node-form .tabledrag-cell-content__item {
  display: none;
}

@media screen and (min-width: 85em) {

  /* fix to allow chosen dropdowns to appear beyond the boundaries of vertical tabs */
  .js .vertical-tabs__item.claro-details--vertical-tabs-item,
  .js .block-claro-content .vertical-tabs__item {
    overflow: visible;
  }

  /* fix to correct hidden vertical tabs in node edit form */
  /*
  .js .node-form .vertical-tabs__item > summary {
    display: block !important;
  }
  */
  .js .node-form .vertical-tabs__menu-item::after {
    bottom: -.5em;
  }

}

/* fix for image crop region not stretching full-width */
.form-managed-file.no-upload {
  width: 100%;
}

/* Fix for links in formtips */
.formtips-show a {
  color: #91adc2;
}

.formtips-show a:hover {
  color: #70a6c9;
}

/* Add styles for Maxlength module */
.counter {
  font-size: 80%;
}

.counter.warning {
  color: #d72222 !important;
}

/* Hide Maxlength counters if they don't have an attached field (e.g. summary/body) */
#undefined-counter {
  display: none;
}

/* adjust forcal point module styles */
.focal-point-indicator:after {
  text-shadow: 2px 2px 0 #0550e6,2px -2px 0 #0550e6,-2px 2px 0 #0550e6,-2px -2px 0 #0550e6;
  font-size: 2.5em;
}

.focal-point-preview-link {
  display: block;
  direction: initial;
  text-align: center;
  padding: 1rem;
}

.focal-point-preview-link:before {
  display: inline-block;
  position: relative;
  width: 1.5em;
  height: 1em;
  content: "";
  background-position: center center;
  background-size: 1.25em 1.25em;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M445,386.7l-84.8-85.9c13.8-24.1,21-50.9,21-77.9c0-87.6-71.2-158.9-158.6-158.9C135.2,64,64,135.3,64,222.9 c0,87.6,71.2,158.9,158.6,158.9c27.9,0,55.5-7.7,80.1-22.4l84.4,85.6c1.9,1.9,4.6,3.1,7.3,3.1c2.7,0,5.4-1.1,7.3-3.1l43.3-43.8 C449,397.1,449,390.7,445,386.7z M222.6,125.9c53.4,0,96.8,43.5,96.8,97c0,53.5-43.4,97-96.8,97c-53.4,0-96.8-43.5-96.8-97 C125.8,169.4,169.2,125.9,222.6,125.9z' fill='%23003cc5'/%3E%3C/svg%3E");
}

/* remove overflow hidden on views exposed filters that prevents chosen dropdowns from being seen */
.view .views-exposed-form {
  overflow: visible !important;
}
